a{
    color:#2374AB;
    width: auto;
    text-transform: capitalize;
    text-decoration: none;
    font-family:'Nunito Sans', 'sans-serif';
    font-size: 22px;
    text-align: center;
}
.titre{
    margin-top: 1%;
    h1{
        font-family: serif;
        font-weight:700 ;
        font-size: 40px;
    }
    a:link { 
        text-decoration: none; }
        
}
mat-toolbar{
    color:#2374AB;
    background: #ffffff;    ;
    
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: fixed;
    max-width: 100%;
   
}
.avatar img {
    -o-object-fit: cover;
    object-fit: cover;
}
.avatar img, .avatar .avatar-name {
    width: 50px;
    height: 50px;
}

.rounded-circle {
    border-radius: 50% !important;
}
.centre{
    align-items: center;
    padding: 17%
}
.search-bar {
    margin-top: 10px;
    width: 30vw;
    height: 6vh;
    border: 2px solid #8fc9d3;
    border-radius: 50px;
    padding: 5px;
    // background-image: url('search-icon.png');
    background-position: 476px 10px;
    background-repeat:no-repeat;
    background-size: 20px;
    font-size: 16px;
    color: #8fc9d3;
    outline: none;
  }
  .drop{
    float:right;
    
}
.notif{
    padding-left:14%;
    padding-right: 1%;    
}
  .search-bar:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  }
  profile-card{
    width: 2000px;
}
mat-menu-item{
    width: auto;
    text-transform: capitalize;
    text-decoration: none;
    color:black;
    font-family:'Nunito Sans', 'sans-serif';
    font-size: 17px;
    text-align: center;
    margin-left: auto;
}
h2{
    padding-left: 30px;
    padding-top: 10px;
    font-family: 'Times New Roman', Times, serif, Helvetica, sans-serif;
    font-size: 25px;

}
.out{
    margin-left: 19%;
}