mat-tab-group{
    margin: 2% 19% 0% 2%;
}
ng-template{
    font-size: x-large;
}
mat-tab{
    width: 100%;
    height: 100%;
}
app-h-pay{
    margin-top: 6%;
    align-items: center;
}
app-hproject{
    padding-top: 3%;
    align-items: center;
}