<div class="sec">
    <div class="sec1">
        <div class="intro">
            <h1>Welcome to ConnectMe</h1>
            <p >
                The freelance platform that connects talented professionals like you with clients in need of your skills.
                Whether you're a web developer, graphic designer, writer, marketer, or any other kind of freelancer,
                ConnectMe is the place to showcase your portfolio, find new opportunities, and grow your business.
            </p>
        </div>
    </div>
    
    <div class="sec2"><mat-divider></mat-divider>
        <h1 class="title">Need something done?</h1>
        <div class="grid">
            <div class="card">
                <div class ="pic"><img  src = "https://www.f-cdn.com/assets/main/en/assets/illustrations/project/post-a-project.svg"/></div>
                <div class="content">
                    <h1>Post a Job</h1>
                    <p> Tell us what you need done by filling out a quick and easy job posting form. </p>
                    <p>You'll provide a job title, description, and budget, and we'll take care of the rest.</p>
                </div>
            </div>
            <div class="card">
                <div class ="pic"><img  src="https://www.f-cdn.com/assets/main/en/assets/illustrations/freelancer/work.svg"/></div>
                <div class="content">
                    <h1>Choose Freelancers</h1>
                    <p>Within minutes, you'll start receiving competitive bids from qualified freelancers. </p>
                    <p>Browse their profiles, portfolios, and reviews, and choose the best fit for your project.</p>             
                </div>
            </div>
            <div class="card">
                <div  class ="pic"><img  src="https://www.f-cdn.com/assets/main/en/assets/illustrations/payment/pay-safely.svg"/></div>
                <div class="content">
                    <h1>Pay Safely</h1>
                    <p>With ConnectMe's milestone payment system, you only pay for work that's been completed and approved by you. </p>
                    <p>Our platform is secure and reliable, so you can trust that your funds.</p>
                </div>
            </div>
            <div class="card">
                <div class ="pic"><img  src="https://www.f-cdn.com/assets/main/en/assets/illustrations/freelancer/about-me.svg"/></div>
                <div class="content">
                    <h1>We're Here to Help</h1>
                    <p>Need help finding the perfect freelancer or managing your project? </p>
                    <p>Our experienced team of recruiters and technical co-pilots are always available to assist you every step of the way.</p>     
                </div>
            </div>
        </div>
        <mat-divider></mat-divider> 
        <h1 class="title">What's great about it?</h1>
        <div class="grid">
            <div class="card">
                <div class ="pic"><img  src = "https://www.f-cdn.com/assets/main/en/assets/illustrations/portfolio/browse-portfolios.svg"/></div>
                <div class="content">
                    <h1>Browse Portfolios</h1>
                    <p>Find talented professionals you can trust by browsing their samples of previous work and reading their profile reviews.</p>
                    <p>Our platform makes it easy to find the perfect match for your project.</p>
                </div>
            </div>
            <div class="card">
                <div class ="pic"><img  src ="https://www.f-cdn.com/assets/main/en/assets/illustrations/bids/bids-alt.svg"/></div>
                <div class="content">
                    <h1>Fast Bids</h1>
                    <p>Our talented freelancers are ready to work for you! Within minutes of posting your job, you'll receive obligation-free quotes from top professionals.</p>
                    <p>Over 80% of projects get bid on within 60 seconds!</p>             
                </div>
            </div>
            <div class="card">
                <div  class ="pic"><img  src="https://www.f-cdn.com/assets/main/en/assets/illustrations/quality-rewards/rank-higher.svg"/></div>
                <div class="content">
                    <h1>Quality Work</h1>
                    <p>ConnectMe has the largest pool of quality freelancers globally - over 60 million to choose from.</p>
                    <p>You can trust that you're working with the best of the best on our platform.</p>
                </div>
            </div>
            <div class="card">
                <div class ="pic"><img  src="https://www.f-cdn.com/assets/main/en/assets/illustrations/time/track-progress.svg"/></div>
                <div class="content">
                    <h1>Track Progress</h1>
                    <p>Keep up-to-date and on-the-go with our time tracker and mobile app.</p>
                    <p>Always know what freelancers are up to, and track progress on your project in real-time.</p>     
                </div>
            </div>
        </div>
    </div>


    <div  class="footer">
        <div class="top"> 
  
         
            <div class="titre">
                <a href="#">
            <h1>ConnectMe</h1>
            <p>YOUR PATH TO PORFESSIONAL SUCCESS</p></a>
            
            </div>
                <div class="col">
                    <h2>ConnectMe</h2>
                    <ul> 
                        <li><a>Categories</a></li>
                        <li><a>Projects</a></li>
                        <li><a>Contests</a></li>
                        <li><a>Freelancers</a></li>
                        <li><a>Enterprise</a></li>
                        <li><a>Membership</a></li>
                        <li><a>Project Management</a></li>
                        <li><a>Photo Anywhere</a></li>
                        <li><a>Get Verified</a></li>
                        <li><a>Desktop App</a></li>
                    </ul>
                </div>
                <div class="col">
                    <h2>About</h2><ul>
                        <li><a>About us</a></li>
                        <li><a>How it Works</a></li>
                        <li><a>Careers</a></li>
                        <li><a>Security</a></li>
                        <li><a>Investor</a></li>
                        <li><a>Sitemap</a></li>
                        <li><a>Stories</a></li>
                        <li><a>News</a></li>
                        <li><a>Team</a></li>
                        <li><a>Awards</a></li>
                        <li><a>Press Releases</a></li>
                        <li><a>Careers</a></li>
                    </ul>
                </div>
                <div class="col">
                    <h2>Terms</h2><ul>
                        <li><a>Policy</a></li>
                        <li><a>Terms and Conditions</a></li>
                        <li><a>Copyright Policy</a></li>
                        <li><a>Code of Conduct</a></li>
                        <li><a>Fees and Charges</a></li>
                    </ul>
                </div>
                <div class="col">
                    <h2>Apps</h2>
                    <ul> 
                        <li><a class="fa-brands fa-app-store"></a><a>AppStore</a></li>
                        <li><a class="fa-brands fa-google-play"></a><a>PlayStore</a></li>

                    </ul>
                </div>
        </div>
        <div class="bottom"> 
            <div class="legal"><br>
            <span> © 2023 All rights reserved </span> <a> License </a> 
            </div> 
            <div class="links">
                <a class="fa-brands fa-twitter"></a>
                <a class="fa-brands fa-facebook" ></a>
                <a class="fa-brands fa-youtube"></a>
                <a class="fa-brands fa-instagram"></a>
            </div> 
        </div>
    </div>

</div>