<div class="sec">
        <div class="card"  >
            <form action="">
                <div class="sec1">
                    <p>Find your account </p>
                </div>
                <div class="sec2">
                    <div class="col1">
                        <p>Please enter your email or mobile number to search for your account.</p>
                        <div class="form__group field">
                            <input type="email" class="form__field" placeholder="Email or mobile number" name="Email" id='Email' required />
                            <label for="Email" class="form__label">Email or mobile number</label>
                        </div> 
                    </div>
                </div>
                <div class="sec3">
                    <div class="submit"><input type="submit" value="Search" ></div>
                    <a routerLinkActive="List-item-active" routerLink="/login">Login</a>
                </div>
        </form>
    </div>
</div>


